* {
	-imagep-base: #292929;
	-imagep-base-light: #3f3f3f;
	-imagep-base-lighter: #393939;
	-imagep-text: #a6a6a6;
	-imagep-accent: #292929;
}

.root {
	-fx-base: -imagep-base;
	-fx-background: -imagep-base;
	-fx-dark-text-color: -imagep-text;
    -fx-mid-text-color: -imagep-text;
    -fx-light-text-color: -imagep-text;
	-fx-accent: -imagep-accent;
	-fx-focus-color: -imagep-accent;
    -fx-faint-focus-color: -imagep-accent;
}

.default-color0.chart-series-area-line {
    -fx-stroke: red;
}
.default-color0.chart-series-area-fill {
    -fx-fill: red;
    -fx-opacity: 0.3;
}

.default-color1.chart-series-area-line {
    -fx-stroke: green;
}
.default-color1.chart-series-area-fill {
    -fx-fill: green;
    -fx-opacity: 0.3;
}

.default-color2.chart-series-area-line {
    -fx-stroke: blue;
}
.default-color2.chart-series-area-fill {
    -fx-fill: blue;
    -fx-opacity: 0.3;
}

.c-histogram-red .default-color0.chart-series-area-line {
    -fx-stroke: red;
}
.c-histogram-red .default-color0.chart-series-area-fill {
    -fx-fill: red;
    -fx-opacity: 0.3;
}

.c-histogram-green .default-color0.chart-series-area-line {
    -fx-stroke: green;
}
.c-histogram-green .default-color0.chart-series-area-fill {
    -fx-fill: green;
    -fx-opacity: 0.3;
}

.c-histogram-blue .default-color0.chart-series-area-line {
    -fx-stroke: blue;
}
.c-histogram-blue .default-color0.chart-series-area-fill {
    -fx-fill: blue;
    -fx-opacity: 0.3;
}

.c-pane {
	-fx-background-color: -imagep-base-light;
}

.menu-bar {
    -fx-background-color: -imagep-base;
}

.menu-bar > .container > .menu-button {
    -fx-background-color: -imagep-base;
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: white;
}

.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -imagep-base-light;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: -imagep-base;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -imagep-base-light;
}

.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: -imagep-base;
}