* {
	-imagep-base: #292929;
	-imagep-base-light: #3f3f3f;
	-imagep-base-lighter: #393939;
	-imagep-text: #a6a6a6;
	-imagep-accent: #292929;
}

.root {
	-fx-base: -imagep-base;
	-fx-background: -imagep-base;
	-fx-dark-text-color: -imagep-text;
    -fx-mid-text-color: -imagep-text;
    -fx-light-text-color: -imagep-text;
	-fx-accent: -imagep-accent;
	-fx-focus-color: -imagep-accent;
    -fx-faint-focus-color: -imagep-accent;
}

.default-color0.chart-series-area-line {
    -fx-stroke: #949494;
}
.default-color0.chart-series-area-fill {
    -fx-fill: #949494;
}

.default-color1.chart-series-area-line {
    -fx-stroke: red;
}
.default-color1.chart-series-area-fill {
    -fx-fill: red;
}

.default-color2.chart-series-area-line {
    -fx-stroke: green;
}
.default-color2.chart-series-area-fill {
    -fx-fill: green;
}

.default-color3.chart-series-area-line {
    -fx-stroke: blue;
}
.default-color3.chart-series-area-fill {
    -fx-fill: blue;
}

.c-histogram-red .default-color0.chart-series-area-line {
    -fx-stroke: red;
}
.c-histogram-red .default-color0.chart-series-area-fill {
    -fx-fill: red;
}

.c-histogram-green .default-color0.chart-series-area-line {
    -fx-stroke: green;
}
.c-histogram-green .default-color0.chart-series-area-fill {
    -fx-fill: green;
}

.c-histogram-blue .default-color0.chart-series-area-line {
    -fx-stroke: blue;
}
.c-histogram-blue .default-color0.chart-series-area-fill {
    -fx-fill: blue;
}

.c-pane {
	-fx-background-color: -imagep-base-light;
}
